*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:coral;
    text-align: center;
    background-color: aliceblue;
    text-decoration: wavy;
}

ul{
    color: darksalmon;
    text-align: left;
}

body{
    background-color: cornsilk;
}